@fontface {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/RobotoRegular.ttf');
}

@fontface {
  font-family: 'Luckiest Guy';
  src: url('/assets/fonts/LuckiestGuy/LuckiestGuy-Regular.ttf');
}

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Luckiest Guy', cursive;

$black: #000;
$dark: #605856;
$intermediate: #d0ccd0;
$light: #fbfcff;
$primary-color: #1c6e8c;
$secondary-color: #274156;
$white: #fff;
